<div id="<%= dom_id transaction_category %>">
  <p>
    <strong>Category:</strong>
    <%= transaction_category.category_id %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= transaction_category.transaction_id %>
  </p>

</div>
